@use "styles/unit" as *;
@use "../../styles/color";

.app {
    align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: rem-calc(440);
}

.heading {
	margin: 0 auto rem-calc(20);
}
